* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Nunito Sans', sans-serif;
}

.header {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text {
    flex: 0 0 580px;
    color: #FAF9F9;
    padding: 170px 0 168px;
}



span {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #FBB731;
    margin-bottom: 12px;
    text-transform: uppercase;
}

h1 {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 142px;
    margin-bottom: 30px;
}

.text p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    letter-spacing: .2px;
    color: #DEDEDE;
    margin-bottom: 49px;
}

.header a,
.main a {
    display: inline-block;
    padding: 20px 47px;
    border-radius: 5px;
    background-color: #FBB731;
    color: #1E2F40;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}

.header img {
    position: absolute;
    right: -169px;
    width: 829px;
}

/* Main */

.main {
    padding: 186px 0;
    color: #FAF9F9;
}

.main-left,
.main-right {
    flex: 0 0 49%;
}

.main-left {
    background: #1E2F40 url('../img/main-left.jpg') no-repeat center / cover;
    padding: 116px 50px;
    margin-left: -9px;
}

.main-right {
    background: #1E2F40 url('../img/main-right.jpg') no-repeat center / cover;
    padding: 102px 50px;
    margin-right: 11px;
}

.sale {
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 5px 18px;
    border-radius: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cost {
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .18px;
}

.main-left .description {
    max-width: 392px;
}

.main-right .description {
    max-width: 300px;
    margin-bottom: 20px;
}

.free {
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

/* Footer */

.footer {
    background: #1E2F40;
    color: #FFFFFF;
    padding: 110px 0 106px;
}

.logo {
    width: 63px;
}

.item {
    flex: 0 0 auto;
}

.item h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.item ul,
.tel ul {
    list-style-type: none;
}

.item li {
    font-family: 'Lato', sans-serif;
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #FAF9F9;
}

.item span {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #DEDEDE;
}

.item a {
    font-weight: 400;
    line-height: 24px;
    color: #DEDEDE;
    text-decoration: none;
}

.tel a {
    font-weight: 800;
    font-size: 20px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FBB731;
    text-decoration: none;
}
